.flex{
    display: flex;
}

.align-items{
    align-items: center;
}

.justify-content{
    justify-content: center;
}

.border{
    border: 2px solid red;
    margin: 3px;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 8px;
}

.m-1{
    margin: 5px;
}

.m-library{
    margin-top: 25px;
}

.p-1{
    padding: 10px;
}


.home{
    padding: 20px;
}

.library{
    padding: 20px;
}






/*Dark scroll bar*/
    /* For Chrome, Edge, and Safari */
    ::-webkit-scrollbar {
        width: 16px;
      }
      
      /* Track (the background of the scrollbar) */
      ::-webkit-scrollbar-track {
        background: #1a1a1a;
        border-radius: 8px;
      }
      
      /* Handle (the part that you can drag) */
      ::-webkit-scrollbar-thumb {
        background-color: #555; 
        border-radius: 8px;
        border: 3px solid #1a1a1a;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background-color: #999;
      }
      
      /* For Firefox */
      /*::-webkit-scrollbar{*/
        /*scrollbar-color: #333 #222;*/   /* Dark color for the thumb and track in Firefox */
      /*}*/
      